<h3 class = "espacio"> Lista de usuarios </h3>
<table class="espacio table">
  <thead>
    <tr>
      <th>id</th>
      <th scope = "col">Name</th>
      <th scope = "col">Nickname</th>
      <th scope = "col">Email</th>
    </tr>
  </thead>
  <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%=user.id%>  </td>
            <td><%= best_in_place user, :name, :inner_class => "input_field", :as => :input, :ok_button  => "Save"  %></td>
            <td> <%=best_in_place user, :nickname, :inner_class => "input_field"%></td>
            <td> <%=best_in_place user, :email, :inner_class => "input_field"%></td>
          </tr>
        <% end %>
  </tbody>
</table>

  </tbody>
</table>
